{
    "config": {
        "deck": {
            "author": "David Asfaha",
            "reveal_path": "reveal.js/",
            "description": "Deck"
        },
        "output": {
            "deck_location": "/Users/davidasfaha/Dropbox/Public/out",
            "media_location": "/Users/davidasfaha/Dropbox/Public/out/media"
        }
    }
}
